body{
    width: 100%;
    margin: 0;
    padding: 0;

        header{
            width: 100%;
            margin: 0;
            padding: 0;

                ul{
                    width: 100%;
                    margin: 0;
                    list-style: none;

                        li{
                            margin: 0;

                                a{
                                    color: #000;
                                    
                                }
                        }
                }
        }
}